<div class="span12">
  <!-- <h1>Listing items</h1> -->
  <%= link_to 'New Item', new_item_path %>
</div>   
<!-- <br>
<br>
<br>
<br>
<br> -->
<% @items.each do |item| %>
    <div class="span3">
      <%= link_to 'Show', item %>
        <img alt="" src="http://placehold.it/600x400/0eafff/ffffff.png" />
        <h4><%= item.name %></h4>
        <p><%= item.description %></p>
        <h5>$<%= item.buy_price %></h5>
        <h5>Size:<%= item.size_id %></h5>
        
        <%= link_to 'Edit', edit_item_path(item) %>
        <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
<% end %>
<br>


